# Created by https://www.gitignore.io/api/swift,xcode,macos,objective-c
# Edit at https://www.gitignore.io/?templates=swift,xcode,macos,objective-c

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

#Pods 관련 
./movie/Pods/
./movie/Podfile.lock
./movie/Podfile.save

#xcodeproj 안의 불필요한 파일
*.xcuserstate
./movie/xcschememanagement.plist
./movie/contents.xcworkspacedata
